@font-face {
    font-family: "virgo";
    src: url("../fonts/virgo.ttf");
}
.wowitembox.recipes .notesarea{
	border-top: 8px solid #E8E8E8;
}

.wowitembox.product-reviews .notesarea{
	border-top: 8px solid #A3A3A3;
}

.wowitembox.brewing-guides .notesarea{
	border-top: 8px solid #212121;
}

#rec h4 {
	font-family:"Just Me Again Down Here";
	text-transform: none;
	font-size: 34px;
	font-weight: 100;
}

#rec h4:nth-of-type(1) {
	font-family: "Raleway";
	text-transform: uppercase;
	font-size: 29px;
	margin: .5em -1em;
	background-color: #5b6020;
	padding: .7em 1em;
	left: -83px;
	position: relative;
	color: white;
	font-weight: 500;
}

#brew h4 {
	text-align: center;
	background-color: #c4aa48;
	color: white;
	font-weight: bold;
	font-size: 24px;
	margin-left: 19px;
	padding: .6em;
	margin-bottom: 0;
}

.no-pad {
	padding:0;
}

#prod img:nth-of-type(1) {

}
#prod img:nth-of-type(2) {

}
#prod img:nth-of-type(3) {

}
#prod img:nth-of-type(4) {

}
#prod img:nth-of-type(5) {

}


#prod h4:nth-of-type(1) {
	text-transform: uppercase;
	font-size: 28px;
	color:white;
	text-align:center;
	background-color: #55331d;
	padding: 1em;
	margin:0;
	position: relative;
	top: 25px;
	z-index: 1;
}

#prod h4:nth-of-type(1):after{
	content: "";
width: 0;
height: 0;
border-top: 27px solid #b2993a;
border-left: 27px solid transparent;
position: absolute;
left: 0px;
bottom: -27px;
}

#prod .apos-slideshow-item.apos-first.apos-last.apos-current {
	margin: 7px;
}

.fresh-coffee {
	color: white;
	font-size: 35px;
	margin: 1em;
	line-height: 38px;
}
a.actionbutton {
	border:0!important;
}
a.actionbutton:hover {
color: white!important;
background-color: rgb(21,21,21)!important;
}
a.actionbutton.butt {
	border:2px solid rgb(21,21,21)!important;
}
a.actionbutton.butt:hover {
color: rgb(21,21,21)!important;
background-color: white!important;
}

.text-size {
	font-size: 25px;
}

.captiondetails {
  background-color: white!important;
  color: black!important;
}

.actionbeforefooter.bg .container .overlay{
	content:"";
	width:100%;
	height:102%;
	position: absolute;
	top:0;right:0;left:0;bottom:0;
	background-color:rgba(0,0,0,0.5);
	background-size: cover;
	z-index: -1;
}

.actionbeforefooter.bg {
	background:url("../images/bag.jpg")no-repeat fixed center center;
	background-size: cover;
	border-bottom: 8px solid #202020;
border-image: url("../images/border2.png") 7 0 round;
border-image-repeat: repeat;
}


.blog-title {
	margin-top: 100px;
	margin-bottom: 100px;
}

.blog-title h2 {
	font-size: 45px;
	text-align: center;
	margin-bottom: 105px;
color: black;
padding: 20px;
}
.blog-headings {
	text-align:center;
}
.blog-headings h2 {
	line-height: 33px;
font-weight: 300;
font-size: 15px;
padding: 0 .6em;
background-color: white;
margin: 0 1.8em;
padding-top:.9em;
}

.hipster-bars:after {
content: "";
width: 2px;
position: absolute;
right: 0;
top: 13px;
height: 66px;
background-color: gray;
}

.hipster-bars:before {
content: "";
width: 2px;
position: absolute;
left: 0;
top: 13px;
height: 66px;
background-color: gray;
}

.padtop15 {
	padding-top:15px;
}

.blog-btn {
background-color: black;
color: white;
border: 2px solid black;
margin: 0;
font-size: 16px;
font-weight: 900;
transition:all 500ms ease-out;
}

.butt-ex {
	border-color:black!important;
	background-color: black!important;
	transition:all 500ms ease-out;
}

.butt-ex:hover {
	border-color:white!important;
	background-color:white!important;
	color:black!important;
	transition:all 500ms ease-out;
}

.stuff-butt1:hover {
	background-color: white!important;
	border: 2px solid #5b6020!important;
	color:#5b6020!important;
	transition:all 500ms ease-out;
}
.stuff-butt2:hover {
	background-color: white!important;
	border: 2px solid #55331d!important;
	color: #55331d!important;
	transition:all 500ms ease-out;
}
.stuff-butt3:hover {
	background-color: white!important;
	border: 2px solid #c4aa48!important;
	color:#c4aa48!important;
	transition:all 500ms ease-out;
}

.nav-item a {
	font-size: 20px;
}

.ex2 {
	transition: all 500ms ease-out!important;
}
.ex2:hover {
	transition: all 500ms ease-out!important;
}

/*gold - #c4aa48
saddle - #55331d
green -  #5b6020*/

.lead {
	color:white!important;
}

svg {
  width: 100%;
}

@-webkit-keyframes smoke {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%) translateY(0px);
  }
  25% {
    opacity: .5;
    -webkit-transform: translateX(50%) translateY(-25px);
  }
  50% {
    opacity: .75;
    -webkit-transform: translateX(-50%) translateY(-50px);
  }
  75% {
    opacity: .85;
    -webkit-transform: translateX(75%) translateY(-75px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-75%) translateY(-100px);
  }
}
@-moz-keyframes smoke {
  0% {
    opacity: 0;
    -moz-transform: translateX(0%) translateY(0px);
  }
  25% {
    opacity: .5;
    -moz-transform: translateX(50%) translateY(-25px);
  }
  50% {
    opacity: .75;
    -moz-transform: translateX(-50%) translateY(-50px);
  }
  75% {
    opacity: .85;
    -moz-transform: translateX(75%) translateY(-75px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-75%) translateY(-100px);
  }
}
@keyframes smoke {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0%) translateY(0px);
    -moz-transform: translateX(0%) translateY(0px);
    -ms-transform: translateX(0%) translateY(0px);
    -o-transform: translateX(0%) translateY(0px);
    transform: translateX(0%) translateY(0px);
  }
  25% {
    opacity: .5;
    -webkit-transform: translateX(50%) translateY(-25px);
    -moz-transform: translateX(50%) translateY(-25px);
    -ms-transform: translateX(50%) translateY(-25px);
    -o-transform: translateX(50%) translateY(-25px);
    transform: translateX(50%) translateY(-25px);
  }
  50% {
    opacity: .75;
    -webkit-transform: translateX(-50%) translateY(-50px);
    -moz-transform: translateX(-50%) translateY(-50px);
    -ms-transform: translateX(-50%) translateY(-50px);
    -o-transform: translateX(-50%) translateY(-50px);
    transform: translateX(-50%) translateY(-50px);
  }
  75% {
    opacity: .85;
    -webkit-transform: translateX(75%) translateY(-75px);
    -moz-transform: translateX(75%) translateY(-75px);
    -ms-transform: translateX(75%) translateY(-75px);
    -o-transform: translateX(75%) translateY(-75px);
    transform: translateX(75%) translateY(-75px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-75%) translateY(-100px);
    -moz-transform: translateX(-75%) translateY(-100px);
    -ms-transform: translateX(-75%) translateY(-100px);
    -o-transform: translateX(-75%) translateY(-100px);
    transform: translateX(-75%) translateY(-100px);
  }
}
.smoke-1 {
  -webkit-animation: smoke 1.5s linear infinite;
  -moz-animation: smoke 1.5s linear infinite;
  animation: smoke 1.5s linear infinite;
}

.smoke-2 {
  -webkit-animation: smoke 1.25s linear infinite;
  -moz-animation: smoke 1.25s linear infinite;
  animation: smoke 1.25s linear infinite;
}

.smoke-3 {
  -webkit-animation: smoke 1.75s linear infinite;
  -moz-animation: smoke 1.75s linear infinite;
  animation: smoke 1.75s linear infinite;
}


.img1 {
  height:300px;
  background:url("../images/one.jpg")no-repeat scroll center;
  background-size: cover;
  -webkit-filter: grayscale(60%);/*sepia, hue-rotate, invert....*/
  /*-webkit-filter: brightness(50%); */
}
.img2 {
  height:300px;
  background:url("../images/two.jpg")no-repeat scroll center;
  background-size: cover;
  -webkit-filter:grayscale(70%);
}
.img3 {
  height:300px;
  background:url("../images/three.jpg")no-repeat scroll center;
  background-size: cover;
  -webkit-filter: grayscale(90%);
}

.aboutbg1 {
  background:url("../images/about.jpg")no-repeat scroll center center;
  background-size: cover;
  -webkit-filter: sepia(70%);
  height: 315px;
  border: 2px solid black;
}

.no-pad {
  padding:0!important;
}

.b-change {
  font-weight: light!important;
}
