.wowitembox.recipes .notesarea{
	border-top: 8px solid gold;
}

.wowitembox.product-reviews .notesarea{
	border-top: 8px solid rgb(37, 197, 237);
}

.wowitembox.brewing-guides .notesarea{
	border-top: 8px solid saddlebrown;
}