.wowitembox.recipes .notesarea{
	border-top: 8px solid gold;
}

.wowitembox.product-reviews .notesarea{
	border-top: 8px solid #487989
}

.wowitembox.brewing-guides .notesarea{
	border-top: 8px solid saddlebrown;
}

#rec h4 {
	font-family:"Just Me Again Down Here";
	text-transform: none;
	font-size: 34px;
	margin: .5em 1em;
	font-weight: 100;	
}

#rec h4:nth-of-type(1) {
	font-family: "Raleway";
	text-transform: uppercase;
	font-size: 29px;
	margin: .5em -1em;
	background-color: gold;
	padding: .7em 1em;
	left: -83px;
	position: relative;
	font-weight: 100;
}

#brew h4 {
	text-align: center;
	background-color: saddlebrown;
	color: white;
	font-weight: bold;
	font-size: 24px;
	margin-left: 19px;
	padding: .6em;
	margin-bottom: 0;
}

.no-pad {
	padding:0;
}

#prod h4:nth-of-type(1) {
	text-transform: uppercase;
	font-size: 28px;
	color:white;
	text-align:center;
	background-color: #487989;
	padding: 1em;
	margin:0;
	position: relative;
	top: 25px;
	z-index: 1;
}

#prod h4:nth-of-type(1):after{
	content: "";
width: 0;
height: 0;
border-top: 27px solid #336272;
border-left: 27px solid transparent;
position: absolute;
left: 0px;
bottom: -26px;
}

#prod .apos-slideshow-item.apos-first.apos-last.apos-current {
	margin: 7px;
}

.fresh-coffee {
	color: white;
	font-size: 35px;
	margin: 1em;
	line-height: 38px;
}
a.actionbutton:hover {
color: rgb(21,21,21)!important;
background-color: white!important;
}

.text-size {
	font-size: 25px;
}

.captiondetails {
	color: white!important;
background-color: #487989!important;
}