{% extends "layout.html" %}
{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block main %}

	<div class="boxedlayout">
		<!-- PAGE CONTENT
		================================================== -->
		<div class="templateblog">

			<!-- TITLE BEGINS -->
			<div class="headerimage" style="background-image: url(images/coffebg1.jpg);margin-top: 51px;">
				<div class="headercontent">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="fleft">
									<h1>Product Review for Lorem ipsum</h1>
								</div>
								<div class="fright breadc">
									<a href="#"> Home </a> / <a href="blog.html">Blog</a> / Coldbot
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TITLE ENDS -->

			<div class="container padtop50 padbot40">
				<div class="row">

					<!-- MAIN CONTENT BEGINS -->
					<div class="col-md-9">
						<div id="primary" class="content-area">
							<main id="main" class="site-main" role="main">
								<div class="wrapindexcerpt">
									<div class="contenttext">
										<div class="post-content">
											<img width="555" height="370" src="images/coffee4.jpg" class="attachment-post-thumbnail wp-post-image" alt=""/>
											<h2 class="post-title">
											<a style="color:#333;" href="#">Lorem ipsum dolor sit amet.</a>
											</h2>
											<div class="clearfix">
											</div>
											<div class="wowmetaposts entry-meta">
												<span class="wowmetadate"><i class="fa fa-clock-o"></i> 26/07/2014</span>
												<span class="wowmetaauthor"><i class="fa fa-user"></i> <a href="#">John Doe</a></span>
												<span class="wowmetacats"><i class="fa fa-folder-open"></i>	&nbsp;<a href="#"> media</a></span>
												<span class="wowmetacommentnumber"><i class="fa fa-comments"></i> <a href="#respond">Leave a Comment</a></span>
											</div>
											<!-- .wowmetaposts -->
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsa perspiciatis, laudantium voluptate quam, corporis fugit, nostrum sed officia nulla atque quaerat cum distinctio illo nam ea. Voluptatibus architecto facere quasi excepturi aperiam, ipsam adipisci illo numquam, nisi animi maxime error quae eum? Sint quidem recusandae maiores, atque fuga consequatur quae nostrum, quo perspiciatis doloremque vero! Voluptas consequatur reiciendis placeat ducimus, nostrum itaque nobis maiores earum dolores asperiores, temporibus iste necessitatibus. Voluptas dolores rerum quas corrupti, nam labore vero, ipsum porro, iste nulla vel at ducimus sed illum beatae doloremque, dignissimos tenetur placeat fugiat. Tenetur iure repellendus debitis sit. Porro.</p>

											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus qui assumenda excepturi expedita totam magnam optio maiores, ex inventore necessitatibus aliquam, autem dignissimos eos saepe eum alias, error, labore aut. Fuga explicabo deleniti qui sunt quae ab dolorum delectus, perferendis eius necessitatibus doloremque, id consequuntur eum exercitationem omnis voluptates laudantium iure accusamus architecto, quis quam totam tenetur cupiditate ad. Consequuntur iusto eius doloremque sunt voluptate repudiandae cum? Alias sunt dignissimos mollitia, cum omnis, doloremque quasi animi deserunt tempora ipsam quae.</p>
											<div class="tagcloud">
												<a href="#">embeds</a> <a href="#" rel="tag">ecommerce</a> <a href="#" rel="tag">story</a> <a href="#" rel="tag">marketing</a>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
								</div>

							</main>
						</div>
					</div>
					<!-- MAIN CONTENT ENDS -->

					<!-- SIDEBAR BEGINS -->
					<div class="col-md-3">
						<div id="secondary" class="widget-area" role="complementary">
							<aside id="search-3" class="widget widget_search">
							<h1 class="widget-title section-title"><span>Search in Blog</span></h1>
							<form role="search" method="get" class="search-form" action="#">
								<input type="search" class="search-field" placeholder="Type and hit enter..." value="" name="s" title=""/>
								<input type="hidden" name="post_type" value="post"/>
							</form>
							</aside><aside id="text-2" class="widget widget_text">
							<h1 class="widget-title section-title"><span>About Coldbot</span></h1>
							<div class="textwidget">
								<p>
									Our subscription service ships coffee to you on the same day it was roasted. Our coffee is selected and roasted with the cold brewing process in mind.
								</p>
							</div>
							</aside><aside id="recent-posts-3" class="widget widget_recent_entries">
							<h1 class="widget-title section-title"><span>Latest Posts</span></h1>
							<ul>
								<li>
								<a href="#">Embed Audio</a>
								</li>
								<li>
								<a href="#">Image Alignement</a>
								</li>
								<li>
								<a href="#">Embed Videos</a>
								</li>
								<li>
								<a href="#">Text Alignement</a>
								</li>
								<li>
								<a href="#">HTML Tags and Formatting</a>
								</li>
							</ul>
							</aside>
						</div>
					</div>
					<!-- SIDEBAR ENDS -->

				</div>
			</div>
		</div>

		<!-- CALL TO ACTION
		================================================== -->
	<div class="actionbeforefooter text-center">
  <div class="container">
  <i style="margin-bottom: .6em;" class="fa fa-coffee fa-2x"></i> <br>
  <h2 class="fresh-coffee">Fresh Coffee Delivered Every 2 Weeks</h2>
    <span>Our subscription service ships coffee to you on the same day it was roasted<br> The coffee is selected and roasted with the cold brewing process in mind. <br><br><span class="text-size">Start truly enjoying your coffee<br>
    <a target="_blank" class="actionbutton" href="#">View Coffee</a>
  </div>
</div>

		<!-- FOOTER
		================================================== -->


{% endblock %}
