{% extends "layout.html" %}
{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block main %}
   <div class="boxedlayout">

    <!-- HEADER
    ================================================== -->

    {{ nav(page, {classes: 'hide-mobile'}) }}
    <!-- PAGE CONTENT
    ================================================== -->
    
    <!-- TITLE BEGINS -->
    <div class="headerimage homeimg text-center" style="background: url(images/bg2.jpg)no-repeat fixed center center;
background-size: cover;">
      <div class="headercontent home">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
            <img src="images/logo.png" data-scrollreveal="enter bottom over 1.4s wait 0.2s">
              <h1 style="font-family:'virgo'!important;" class="brand-heading" data-scrollreveal="enter top over 1.9s wait 0.2s">Coldbot . Coffee</h1>
              <p style="font-family:'Lato'!important;color:white!important;" class="lead stuffy" data-scrollreveal="enter bottom over 1.9s wait 0.4s">
                Fresh international coffee blends delivered right to your doorstep.
              </p>
              <a href="" data-scrollreveal="enter bottom over 1.9s wait 0.2s" class="butt-ex ex2 btn btn-default btn-lg explore">Subscribe now<i style="position: relative;top: 0px;left: 8px;" class="fa fa-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TITLE ENDS -->
    
    <!-- MAIN CONTENT BEGINS -->
    <div id="homepagetemplate" class="container padtop10 padbot40">
      <div class="row">
        <div class="col-md-12">
          <div class="clear text-center sectionlatestitems">
            <h2 class="maintitle">Coldbot Content</h2>
            <div class="separatr">
              <span>
              <a href="" class="view-all"><i class="fa fa-reorder"></i></a>
              </span>
            </div>
             <h4 style="margin:4px 0 6em 0">Expand your knowledge and taste buds</h4>
             <!--<p style="margin-bottom:75px!important;">With our subscription service you can drink quality coffee everyday.<br>We'll also teach you how to get the most out of every bean<br> Browse our <b style="color:#c4aa48">Recipes</b>, <b style="color:#55331d">Brewing Guides</b>, and <b style="color:#5b6020;">Product Reviews</b> to learn more. </p>-->
          </div><br>
          <div class="row text-center">
        <div style="position:relative" class="col-lg-4">
        <img style="position:absolute;left: 44px;top: -125px;z-index: -1;" width="300px"  src="images/badge2.png" />
         <!-- <i style="color:#5b6020;" class="fa fa-file-text-o fa-4x"></i> --><br>
          <h2 style="padding: .5em 0;background-color:white;">Recipes</h2>
          <p style="background-color:white;padding: 7px 0;">Our recipes taste great and show you<br> how to personalize your coffee to your tastes.</p>
          
        </div><!-- /.col-lg-4 -->
        <div style="position:relative" class="col-lg-4">
        <img style="position:absolute;left: 44px;top: -125px;z-index: -1;" width="300px" src="images/badge3.png" />
          <!-- <i style="color:#55331d;" class="fa fa-book fa-4x"></i> --><br>
          <h2 style="padding: .8em 0;background-color:white;">Product Reviews</h2>
          <p style="background-color:white;padding: 10px 0;">Now you'll know the real breakdown on<br> coffee makers, brewing machines, and more!</p>
          
        </div><!-- /.col-lg-4 -->
        <div style="position:relative" class="col-lg-4">
        <img style="position:absolute;left: 44px;top: -125px;z-index: -1;" width="300px"   src="images/badge1.png" />
          <!--  <i style="color:#c4aa48;" class="fa fa-star fa-4x"></i> --><br>
          <h2 style="padding: .5em 0;background-color:white;">Brewing Guides</h2>
          <p style="background-color:white;padding: 7px 0;">No need to search the web.<br> We show you how to get the most out of your beans.</p>
         
        </div><!-- /.col-lg-4 -->
      </div>
      <div style="background-color:white;padding:0;"class="row actionbeforefooter text-center">
        <div class="col-md-12"> <p><a class="actionbutton butt" href="/explore-coffee" role="button">Exlpore Coffee</a></p></div>
      </div>
          
          <div class="clear">
          </div>
        </div>
        </div>
        </div>
<div class="actionbeforefooter text-center">
  <div class="container">
 
  <h2 class="fresh-coffee">Fresh Roasted Coffee from around the World</h2>
  <h4 style="color:white;" class="text-muted">Delivered right to your door monthly</h4>
  <!-- <i style="margin-bottom: .6em;" class="fa fa-coffee fa-2x"></i>  -->
    <svg style="position: absolute;left: 31px;opacity: .3;top: 14px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="228.013px" height="251.242px" viewBox="0 0 228.013 251.242" enable-background="new 0 0 228.013 251.242"
   xml:space="preserve">
<path fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" d="M4,110v97.656v0.172c3,21,38.606,38.414,82,38.414
  s78-17.371,80-38.371v-0.215V110H4z"/>
<path fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" d="M185.589,205.615
  c45.501-26.762,54.11-95.884,0-95.884"/>
<rect x="22" y="77" rx="6" ry="6" fill="#FFFFFF" width="18" class="smoke-1" height="18"/>
<rect x="75" y="77" rx="6" ry="6" fill="#FFFFFF" width="18"  class="smoke-2" height="18"/>
<rect x="130" y="77" rx="6" ry="6" fill="#FFFFFF" width="18" class="smoke-3" height="18"/>
</svg>
<br>
    <span> Unique blends from all over the world roasted and shipped twice a month.<br> We select each blend and roast it with the Cold Brewing process in mind.<br>it's convenient, tasty, and accessible.</span><br><br><span class="text-size"><b>Start truly experiencing your coffee</b><br>Starting at $15/month<br>
    <a style="background-color:white;color:rgb(21,21,21);" target="_blank" class="actionbutton" href="#">Subscribe Now</a></span>
  </div>
</div>
<div class="white-space"></div>
    <div id="homepagetemplate" class="container padtop10 padbot40">
    <div class="row">
      <div class="col-md-12">
        
      
          <div class="divider1">
          </div>
          <div class="row text-center seactionitemfeatures">
            <div class="narrowheader">
              <h2 class="maintitle">Coldbot Values</h2>
              <p>Coldbot is committed to helping everyday Coffee Enthusiasts<br>navigate and explore the World of Coffee.</p> 
            </div>
          </div>
          <div class="col-md-4">
            <div class="featurebox">
              <h2><i class="fa fa-cart-plus"></i>Convenient</h2>
              Finding good coffee is hard. Let us find it for you. Our subscriptions bring the best coffee right to your doorstep. We ship coffee twice a month, the same day it's roasted.
            </div>
          </div>
          <div class="col-md-4">
            <div class="featurebox">
              <h2><i class="fa fa-heart"></i>Tasty</h2>
              If you're like us, you genuiniely enjoy the taste of quality coffee. Our unique blends range from mild to bold and are roasted with love. Love tastes like coffee.
            </div>
          </div>
          <div class="col-md-4">
            <div class="featurebox">
              <h2><i class="fa fa-globe"></i>Accessible</h2>
              Not everyone can afford to travel the world searching for the best coffee blends. Let us be your passport to an international coffee experience.
            </div>
          </div>
          <div class="col-md-4">
            <div class="featurebox">
              <h2><i class="fa fa-leanpub"></i>Educational </h2>
              Our content is designed to serve those who want to know more about coffee than the Starbucks menu. We want to make it as easy as possible for you to learn all things coffee.
            </div>
          </div>
          <div class="col-md-4">
            <div class="featurebox">
              <h2><i class="fa fa-star"></i>Trustworthy</h2>
              We are craft coffee people. We thoroughly research and experiment with the latest and greatest coffee techniques, recipes and products and post the results.
            </div>
          </div>
          <div class="col-md-4">
            <div class="featurebox">
              <h2><i class="fa fa-envelope"></i>Updated Weekly</h2>
              Fresh coffee. Fresh Content. Each week we explore the world of coffee and share what we find. Sign up to receive weekly updates or visit "Explore Coffee" for new content.
            </div>
          </div>
          <div class="clear">
          </div>
          <div class="divider1">
          </div>

          <!-- .wowitemboxlist-->
        </div>
      </div>
    </div>
    </div>
    <!-- MAIN CONTENT ENDS -->
    
    <!-- FOOTER
    ================================================== -->
 

{% endblock %}
